@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --font-sans: var(--font-manrope);
  --font-serif: var(--font-playfair);

  --color-warm-white: #fafaf8;
  --color-deep-navy: #0a1628;
  --color-muted-gray: #64748b;
  --color-adriatic: #1e3a5f;
  --color-sand: #c4b59d;
}

@layer base {
  /*
   body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-serif);
  }
  
  */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  background-color: var(--page-bg, white);
}

html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.gm-ui-hover-effect {
  display: none !important;
}
